#define VER_PRIVATEBUILD              0

#ifndef RELEASE
#define VER_PRERELEASE                VS_FF_PRERELEASE
#else
#define VER_PRERELEASE                0
#endif

#ifndef DEBUG
#define VER_DEBUG                     0
#else
#define VER_DEBUG                     VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION                           3,9,4,0
PRODUCTVERSION                        3,9,4,0
FILEFLAGSMASK                         VS_FFI_FILEFLAGSMASK
FILEFLAGS                             (VER_PRIVATEBUILD | VER_PRERELEASE | VER_DEBUG)
FILEOS                                VOS_NT | VOS__WINDOWS32
FILETYPE                              VFT_DLL
FILESUBTYPE                           VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004E4"
        BEGIN
            VALUE "ProductVersion",   "3.9.4.0\0"
            VALUE "FileVersion",      "3.9.4.0\0"
            VALUE "CompanyName",      "BerSoft\0"
            VALUE "FileDescription",  "Era Project\0"
            VALUE "InternalName",     "\0"
            VALUE "LegalCopyright",   "(C) Berserker aka EtherniDee aka BerSoft\0"
            VALUE "LegalTrademarks",  "\0"
            VALUE "OriginalFilename", "era.dll\0"
            VALUE "ProductName",      "Era\0"
            VALUE "Comments",         "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 1252
    END
END
